*{
    margin: 0;
    padding: 0;
}

.fondo {
    background: url("../img/bg.jpg") no-repeat 50% 50%; /*URL de imagen, no repetir y centrala vertical y horizontalmente*/
    height: 100vh; /*100% de la altura de mi pantalla*/
    background-size: cover; /*Escala la imagen para cubrir todo el contenedor recortando lo que sobra*/

}

.titulo{
    padding: 1m;
    text-align: center; /*Centro el contenido y le doy una separacion por arriba*/
}

.titulo h1{
    font-family: 'Century Gothic' ,sans-serif;
    color: #f9f3f4;
    font-size: 500%; /* 5* el tamaño base (16px)*/
    margin-bottom: 0.5em;
}

.titulo .btn{
    border-radius: 9px;
    color: #f9f3f4;
    text-decoration: none;
    font-family: 'Century Gothic' ,sans-serif;
    border: 3px solid;
    padding: 7px 13px; /*Aleja el borde del contenido arriba-abajo e izquierda-derecha*/
    font-weight: bold;
}

.titulo .btn:hover{
    background-color: #2196f3;
}

#inicio{
    background-color: #2196f3;
    text-align: center;
}

nav{
    padding: 1em; /*Espacio entre el texto y el contenido*/
}

nav li {
    text-decoration-style: none; /* Quito la decoracion de la lista*/
    display: inline-block; /*Coloco los elementos en bloque uno al lado del otro*/
    font-size: 1.5em;
}

nav a {
    text-decoration: none;/*Quito la decoración y cambio el color*/
    list-style-type: none;
    color: white;
    padding: 0.7em 1em;
    transition: 3s;
}

nav a:hover{
    background: rgb(82,4,155); 
}

.leyenda {
    font-family: 'Century Gothic' ,sans-serif;
    color: #2196f3;
    font-size: 200%;
    padding: 1em; /*Espaciado del mismo tamaño de fuente del elemento*/
    text-shadow: 2px 2px 8px #000; /*Cuanto más píxeles mas difuminado*/
}

p{
    border: 1px solid #2196f3;
    font-size: 160%;
    margin: 3%; /*Separacion entre los bordes de los párrafos*/
    padding: 3%; /*Espacio entre el texto y el propio borde*/
    font-family: sans-serif;
    line-height: 200%; /*2* el tamaño base*/
    text-align: justify; /*Todas las líneas ocuparán lo mismo, sin cortes*/
}

#servicios p{
    column-count: 2;/*Cantidad de columnas que quiero*/
    column-gap: 2em; /*Separación entre las 2 columnas*/
}

.leyblanco{/*Este tiene las mismas propiedades que leyenda porque tienen la misma clase pero con un añadido*/
    color: white;/*Esto se puede hacer poniendo tambien .leyenda.leyblanco*/
}

#estamos {
    background-color: #2196f3;
}

.arriba{
    background-color: rgb(82,4,155);
    width: 50px;
    height: 50px;
    font-size:30px;
    position: fixed; /*Posición fija abajo a la derecha*/
    bottom:20px;/*Espacio entre el contenedor y el borde de abajo no puedo poner estas propiedades si no pongo antes position: fixed;*/
    right:20px; /*Espacio entre el contenedor y el borde de la derecha*/
    border-radius: 40px;
    border: solid;
    color:white;
    text-align: center;
}


.centrar{
    padding: 0.5em;
}